*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #080710;
}
.background{
    width: 430px;
    height: 520px;
    position: fixed;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.background .shape{
    height: 100px;
    width: 100px;
    position: absolute;
    border-radius: 50%;
}
.shape:first-child{
    background: linear-gradient(
        #ff512f,
        #f09819
    );
    left: -35px;
    top: -10px;
}
.shape:last-child{
    background: linear-gradient(
        to right,
        #1845ad,
        #23a2f6
    );
    right: -35px;
    bottom: -10px;
}
form{
    height: 520px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.445);
    padding: 50px 35px;
}
form *{
    font-family: 'Poppins',sans-serif;
    color: #0c0a0a;
    letter-spacing: 0.5px;
    outline: none;
    border: none;

}
form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}


label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
    color: #7a7b7c;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(32, 28, 28, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #c4c4c4;
}
button{
    margin-top: 50px;
    width: 100%;
    background-color: #ebe6e6;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.logo{
    margin: auto;
    width: 90%;
    padding: 10px;
}
.h4{
    color:#2393b7; 
    margin: auto; 
    width: 60%; 
    padding-left: 30px;
    line-height: 50px;

}

.lang{
    margin-top: -400px;
    margin-left: -80px;
    position: relative;
    font-size: 0.9em;
}

.lang ul {
    margin: 0;
    padding: 0;
    background-color: #fff;
    border: 1px solid #f8f8f8;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    display: none;
    top: 40px;
    left: 0;
}

.lang li {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.lang ul li a {
    width: 125px;
    display: block;
    padding: 5px 10px;
}

.lang ul li a:before {
    content: '';
    display: inline-block;
    width: 32px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;

}

.lang ul li a:hover {
    background-color: #f2f2f2;
}

.fr:before {
    background-image: url(https://scontent.ftun9-1.fna.fbcdn.net/v/t1.15752-9/278840105_410652163747770_4944033276774158433_n.png?stp=cp0_dst-png&_nc_cat=107&ccb=1-5&_nc_sid=ae9488&_nc_ohc=PhfHnGjjku4AX8nViNP&_nc_ht=scontent.ftun9-1.fna&oh=03_AVJTkT0IeZvo1bbyGK4RNMvhnGKQDtU0ny1myEOzajuoBA&oe=62865BE4);
}

.en:before {
    background-image: url(https://scontent.ftun9-1.fna.fbcdn.net/v/t1.15752-9/278531207_531395575087184_6888622984974411333_n.png?stp=cp0_dst-png&_nc_cat=103&ccb=1-5&_nc_sid=ae9488&_nc_ohc=dtoP11A7HUcAX-IGOZx&_nc_ht=scontent.ftun9-1.fna&oh=03_AVJsbeiuLydHT3WRFMcXS4t1LsdSdL22N09oQW7U8BTuhQ&oe=6285530A);
}

.ar:before {
    background-image: url(https://scontent.ftun9-1.fna.fbcdn.net/v/t1.15752-9/278545803_681599033103106_3367139100392745579_n.png?stp=cp0_dst-png&_nc_cat=107&ccb=1-5&_nc_sid=ae9488&_nc_ohc=rn7qDI4KnFQAX_AK_AC&_nc_ht=scontent.ftun9-1.fna&oh=03_AVI3-D48AhW_aVOAX6dLu_MuvVJKQvysY7_jpu7m5iGC9w&oe=6286AC9B);
}


.selected-lang{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    line-height: 2;
    width: 90px;
}

.selected-lang::before{
    content: '';
    display: block;
    width: 32px;
    height: 20px;
}

a {
    text-decoration: none;
}

.lang:hover ul {
    display: block;
    width: 150px;
    margin-left: 60px;}


/*
::before,
::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}
body{
    height: 100vh;
    background: linear-gradient(135deg,#434548,#5fa0fa);
}
form{
    background-color: #202020;
    height: 450px;
    width: 450px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 8px;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.35);
    padding: 0 50px;
}
form*{
    border: none;
    outline: none;
    font-family: "Poppins",sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.5px;
}
input{
    display: block;
    height: 2px;
    width: 300px;
    position: absolute;
    background-color: #4d4d4d;
    color: #ffffff;
    padding: 10px;
    font-weight: 300;
    border-radius: 5px;
    transition: 0.5s all;
}
label{
    display: inline-block;
    color: #e5e5e5;
    cursor: pointer;
    font-size: 12px;
    position: absolute;
    transition: 0.5s all;
}
#username{
    bottom: 250px;
}
label[for = "username"]{
    bottom: 310px;
}
#password{
    bottom: 195px;
}
label[for = "password"]{
    bottom: 200px;
}
::placeholder{
    color: gray;
}
.my-style::placeholder{
    color: #a5a5a5;
}
button{
    width: 300;
    position: absolute;
    bottom: 75px;
    padding: 15px 0;
    background-color: #3989f9;
    color: #ffffff;
    border-radius: 5px;
}
*/