
<html lang="en">
    <head>
        <title>Fiche d'intervention</title>
    </head>
    <body>
      
        <div class="background">
            <div class="shape"></div>
            <div class="shape"></div>
        </div>
        
        <form [formGroup]="loginForm" (submit)="loginFun()" >
            <a href="https://csys.com.tn/" target="_blank"><img src="https://cdn.bitrix24.com/b14232851/landing/6be/6be08191cca1b62b0df3f81ab487ade6/_1_1x.png" class="logo"></a>
            <b><p style="color:#2393b7; letter-spacing: 3px; line-height: 70px; margin: auto; padding-left: 70px;" >Fiche d'intervention</p></b>
  
               <div class="form-user">       
                <input type="text" id="username" placeholder="" required>
                <label for="username" class="label" id="hideMe">Tapez votre nom d'utilisateur</label>
               </div>
                <label for=""></label>
                <div class="form-pass">
                <input type="password" id="password" placeholder="" required>
                <label for="password" class="label2">Tapez votre mot de passe</label>

              </div>
  <!----
              <label for="username">USERNAME</label>
              <input type="text" placeholder="Enter your username" id="username" required> 
              <label for="password">PASSWORD</label>
              <input type="password" placeholder="Enter your password" id="password" required>
  -->
            <button type="submit" (click)="loginFun()">Connexion</button>
            <div class="lang">
              <div class="selected-lang">
                fr
              </div>
              <ul>
                <li>
                  <a href="" class="fr">Français</a>
                </li>
              </ul>
              <ul>
                <li>
                  <a href="login-en" class="en"> English</a>
                </li>
              </ul>
              <ul>
                <li>
                  <a href="#" class="ar">العربية</a>
                </li>
              </ul>
            </div>
    
    
        </form>
    </body>
    </html>