
<html lang="en">
    <head>
        <title>Intervention Sheet</title>
    </head>
    <body>
        <div class="background">
            <div class="shape"></div>
            <div class="shape"></div>
        </div>
        <form>
            <a href="https://csys.com.tn/" target="_blank"><img src="https://cdn.bitrix24.com/b14232851/landing/6be/6be08191cca1b62b0df3f81ab487ade6/_1_1x.png" class="logo"></a>
            <b><p style="color:#2393b7; letter-spacing: 3px; line-height: 70px; margin: auto; padding-left: 70px;" >Intervention Sheet</p></b>
  
                      
              <input type="text" id="username" placeholder="Enter your username" required>
              <input type="password" id="password" placeholder="Enter your password" required>
            
  <!----
              <label for="username">USERNAME</label>
              <input type="text" placeholder="Enter your username" id="username" required> 
              <label for="password">PASSWORD</label>
              <input type="password" placeholder="Enter your password" id="password" required>
  -->
            <button type="submit" (click)="goToPage('formulaire')">Log In</button>
           
        </form>
    </body>
    </html>