<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">home</a>
  
  
    </div>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto" *ngIf="!authenticated">
  
        <li class="nav-item">
          <a class="nav-link active " routerLink="/login">login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/register">register</a>
        </li>
  
      </ul>
      <ul class="navbar-nav me-auto" *ngIf="authenticated">
  
        <li class="nav-item">
          <a class="nav-link active " routerLink="/login" onclick="logout()">logout</a>
        </li>
  
      </ul>
  
    </div>
  
  </nav>
  