<div class="toolbar" role="banner">

    <a href="https://csys.com.tn/" target="_blank">
    <img
      width="120"
      style="padding-left: 40px;"
      alt="Clinisys"
      src="https://cdn.bitrix24.com/b14232851/landing/6be/6be08191cca1b62b0df3f81ab487ade6/_1_1x.png"
    />
  
  </a>
    
    <a routerLink="/login"> <button class="btn default">Login</button></a>


      <button routerLink="/formulaire"> form </button>

      <button routerLink="/dashboard"> dash </button>

  </div>
<div>
  <h1 style="margin-top: 100px;">cDSQCSDCSD</h1>
</div>
 

